@font-face {
    font-family: "BasisGrotesquePro";
    src: url("../fonts/PPNeueMontreal-Book.otf");
}

* {
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.6em;
    background-color: transparent;
}

/* Create custom scrollbar */
body::-webkit-scrollbar-thumb {
    border-radius: 1em;
    background-color: #727272;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #d8d8d8;
}


body {
    font-family: "Inter", sans-serif;
    font-family: "BasisGrotesquePro", sans-serif;
    overflow-x: hidden;
    background-color: black;
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}


p {
    font-family: "Inter", sans-serif;
    font-weight: 100;
    /* letter-spacing: 0.5px; */
}

h1 {
    font-weight: bold;
}


header {
    display: flex;
    align-items: center;
    justify-content: right;
}

.navbar {
    font-family: "BasisGrotesquePro", sans-serif;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: left;
    top: 2vh;
    margin-right: 2vw;
    animation: nav-load 1s ease;
    z-index: 10;
}

@keyframes nav-load {
    0% {
        transform: translateX(100%);
        opacity: 0;

        /* transform: scale(0); */

    }

    100% {
        transform: translateX(0);
        /* transform: scale(1); */
    }
}

.navlink {
    letter-spacing: 1.3px;
    font-size: 1em;
    margin: 1em;
    color: white;
    text-decoration: none;
    transition: 0.25s;
}

.navlink:hover {
    color: #e669d7;
    transform: scale(120%);
}

.intro {
    background-color: black;
    /* background-image: linear-gradient(black, #370052) ; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 13vw;
    padding-top: 2%;
}

#name {
    letter-spacing: 6px;
    font-size: 8vw;
    font-weight: bold;
    width: 60%;
    background: -webkit-linear-gradient(left, #E84848, #6f00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    max-width: 3600px;
    min-width: 600px;
    animation: name-load 1s ease;
}

@keyframes name-load {
    0% {
        transform: translateY(-250%);
        opacity: 0;


        /* opacity: 0;
        transform: scale(0); */
    }

    40% {
        transform: translateY(30%);
    }

    100% {
        opacity: 1;
    }
}


@keyframes info-load {
    0% {
        /* transform: translateX(-20%); */
        opacity: 0;
    }


    60% {
        opacity: 0;
    }
}



#app {
    font-family: "BasisGrotesquePro", sans-serif;
    display: inline-block;
    font-size: 2.5em;
    font-weight: lighter;
    width: 27ch;
    color: white;
    white-space: nowrap;
    margin-bottom: 1em;
    animation: info-load 2s ease;
}



.work {
    background-color: black;
    /* background-image: linear-gradient(black, #370052) ; */

    /* height: 100vh; */
    /* padding-top: 15vh; */
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 13vw;
    padding-right: 13vw;
    padding-top: 13vw;
    gap: 5em;

}

.title {
    color: white;
    /* margin: 0 20vw; */
    font-size: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.projectcards {
    display: flex;
    flex-direction: column;
    gap: 5em;
    padding: 0 10vw;
}

.project {
    display: grid;
    gap: 3rem;
    background: -webkit-linear-gradient(left, #252525, #190262);
    padding: 4vw;
    border-radius: 2em;
    position: relative;
    padding-bottom: 1vw;
    transition: 0.3s;
}

.project:hover {
    transform: scale(105%);
    background: -webkit-linear-gradient(left, #343434, #1f0576);
}

/* background gradients */

#studyspot {
    background: -webkit-linear-gradient(left, #8c78f0, #5c22ba);

}

#studyspot:hover {
    background: -webkit-linear-gradient(left, #9e8cf9, #7135d1);
}

#doodle {
    background: -webkit-linear-gradient(left, #082982, #2176cb);
}

#doodle:hover {
    background: -webkit-linear-gradient(left, #11369b, #4696e6);
}


#robotics {
    background: -webkit-linear-gradient(left, #49b8c7, #39a1af);
    padding-bottom: 2.5em;
}

#robotics:hover {
    background: -webkit-linear-gradient(left, #5cc8d7, #44afbd);
}

#turbine {
    background: -webkit-linear-gradient(left, rgb(70, 69, 69), rgb(116, 115, 115));
}

#turbine:hover {
    background: -webkit-linear-gradient(left, rgb(108, 107, 107), rgb(141, 141, 141));
}

.dropshadow {
    filter: drop-shadow(0 0 0.6rem black);
}




.projectspan {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    margin: 0;
}

.innerprojectlink {
    z-index: 2;
}

.projecttitle {
    color: white;
    font-size: 2em;
    letter-spacing: 2px;
}

.projectinfo {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    padding: 0;
    margin-bottom: 0.5vw;
}

.imagesection {
    display: flex;
    flex-direction: row;
    width: 100%;
}



.image {
    width: 70%;
    height: auto;
    object-fit: cover;
    object-position: 100% 50%;
    border-radius: 1em;
    max-height: 30em;
    margin: 0 auto;
    margin-bottom: 1em;
}

.image2 {
    /* width: 100%;
    height: 100%; */
    object-fit: cover;
    object-position: 100% 50%;
    border-radius: 1em;
    /* max-height: 30em; */
    width: 80%;
    height: auto;
    max-width: 100%;
    margin: auto;
    margin-bottom: 1em;
}

.image3 {
    width: 85%;
    height: auto;
    object-fit: cover;
    object-position: 100% 50%;
    border-radius: 1em;
    max-height: 50em;
    margin: auto;
    margin-bottom: 1em;
}



.description {
    color: white;
    font-size: 1.05em;
    font-family: "Inter", sans-serif;
    /* font-family: "BasisGrotesquePro", sans-serif; */
    /* line-height: 27px; */

}


.subtitle {
    font-size: 1.3em;
    font-weight: bold;
}







.hidden {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.5s;
    transform: scale(0.7);
}


.show {
    opacity: 1;
    transform: translateX(0);
    transform: scale(1);
}



.aboutme {
    background-color: black;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 13vw;
    padding-right: 13vw;
    padding-top: 13vw;
    padding-bottom: 13vw;
    gap: 5em;

    color: white;
    height: 50vh;

}


.aboutinfo {
    display: flex;
    flex-direction: row;
    gap: 3em;
}


.aboutdescription {
    font-size: 22px;
    color: #dadada;
}




.profileimg {
    width: 30em;
    height: 30em;
    object-fit: cover;
    object-position: 100% 50%;
    border-radius: 1em;
}



.contact {
    /* background: -webkit-linear-gradient(rgb(6, 105, 198), #8d15d8); */
    background: -webkit-linear-gradient(left, #E84848, #6f00ff);
    margin: 0;
    padding-bottom: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 13vw;
    padding-right: 13vw;
    padding-top: 13vh;
    padding-bottom: 13vh;
    gap: 3em;
    border-top-left-radius: 3em;
    border-top-right-radius: 3em;
}



.contactLink {
    color: white;
    font-size: 25px;
    width: 0;
    transition: 0.1s;
}

.contactLink:hover {
    transform: scale(115%);
}


.hidden2 {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.22s;
}


.show2 {
    opacity: 1;
    transform: translateX(0);
}



.parallax {
    position: absolute;
}





.gradientanimate {
    background: -webkit-linear-gradient(left, #d14040, #5c02d3);
    animation: gradient 10s ease infinite;
    backdrop-filter: blur(1px);
    background-size: 400% 400%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}








/* .info {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 3.7em;
    animation: info-load 2s ease;
} */



/* #info-description {
    display: inline-block;
    font-size: 3em;
    font-weight: lighter;
    width: 27ch;
    color: white;
    white-space: nowrap;
    margin-bottom: 1em;
    position: relative;
    top: 0;
    animation: slide 8s steps(4) infinite;
}

@keyframes slide {
    100% {
        top: -9em
    }
} */

/* 
#info-description span {
    position: relative;
}

#info-description span::after {
    display: inline-block;
    color: white;
    border-left: 3px solid;
    border-color: white;
    white-space: nowrap;
    width: 100%;
    height: 100%;

    content: "";
    position: absolute;
    left: 0;
    background-color: black;

    animation: typing 2s steps(100) infinite;
} */

/* @keyframes typing {
    100% {
        left: 100%;
    }
}

@keyframes cursor {
    50% {
        border-color: transparent
    }
}
 */




























/* ------------mouse trail-------------- */
/* 
.trail {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #ff0062;
    background: #ff0062;
    position: fixed;
    animation: come 1s linear forwards;
    overflow: hidden;
}

@keyframes come{
    0%{
        transform: scale(0);
    }

    10%{
        transform: scale(1) translateY(0px);
    }

    100%{
        trnasform: scale(0) translateY(0px);
        opacity:0;
    }

} */